<% if flash[:notice] %>
    <div id='flash' class='notice'>
    <a class="close" data-dismiss="alert">&#215;</a>
    <%=flash[:notice]%>
</div>
<% end %>
<h1>HINT: the ctf is over. hope you had fun and play next year!</h1>
<div class="row">
    <% @ch.reverse_each do |chall| %>
	<% my_solve = Solve.all(:team => session["account"].name) %>
	<% this_solve = my_solve.all(:challengeid => chall.id ) %>
        <% if chall.visible  %>
        <div class="span4">
        <h3>
            <%= chall.title %>
        </h3>
        <h5>
            <%=  chall.category + " : " + chall.points.to_s  %>
        </h5>
        <p>
        <%= chall.body %>
        </p>
        <p>
        <%= chall.link %>
        </p>
        <form method="post">
            <input type="text" name="flag"/>
            <input type="hidden" name="id" value="<%=chall.id%>" />
            <br/>
                <% if this_solve.count < 1 %>
                    <button class="btn-danger" type="submit" value="Submit">Submit</button>
                <% else %>
                    <button class="btn-success" type="submit" value="Submit">Submit</button>
                <% end %>
        </form>
    </div>
    <% end %>
<% end %>
</div>

